/* =========================
   RESET
========================= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* =======================
   Importação de fontes 
======================== */

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Inter";
	src: url("./fonts/Inter_18pt-Regular.ttf");
}

/*======================
    Criação de Variáveis        
 =======================*/

:root {
	--background: #050b14; /* escuro principal com toque azul */
	--surface: #0a1626; /* cards / containers */
	--opac-surface: #0a1626aa;
	--primary: #3b82f6; /* azul vivo (interações) */
	--primary-glow: #60a5fa; /* brilho azul */
	--secondary: #22d3ee; /* ciano leve */
	--accent: #8b5cf6; /* roxo suave para destaque */
	--text: #e6f0ff; /* texto principal */
	--muted: #93a4b8; /* texto secundário */
	--border: #1e2a3a; /* bordas suaves */
	--glow: rgba(59, 130, 246, 0.35); /* efeito luminoso */
}

/* =========================
   BASE (MOBILE FIRST)
========================= */

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', Arial;
  min-height: 100vh;
}

header {
  font-family: Inter;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem 1rem;
  margin-bottom: 0.5rem;
  animation: showUp 1.2s ease forwards;
}

.container {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 16px;
  gap: 6px;
  color: var(--secondary);
}

#cargo {
  color: var(--primary);
  font-size: 28px;
  font-weight: 600;
  transition: opacity .4s;
}

nav {
  position: sticky;
	top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  padding: 10px;
  backdrop-filter: blur(4px);
  background-color: var(--opac-surface);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--glow);
  gap: 8px;
  animation: showDown 1.2s ease forwards,
  glowUp2 2s ease infinite;
}

nav ul a {
  text-decoration: none;
  color: var(--accent);
}

.active {
  border-bottom: 2px solid var(--text);
  color: var(--text);
}

/* Controle das secções */
.section {
	display: none;
}

.active-section {
	display: block;
	opacity: 0;
	gap: 10px;
	margin: 1rem;
	margin-top: 2rem;
	padding: 28px 24px;
	border: 2px solid var(--border);
	border-radius: 10px;
	box-shadow: 0 0 20px var(--primary-glow);
	color: var(--text);
	animation: 
	glowUp 2s ease infinite,
	showRight 1.6s ease-out forwards;
}

.active-section h2 {
  color: var(--primary);
  text-align: center;
  font-size: 1.8em;
}

.active-section h3 {
  color: var(--secondary);
}

.center {
  text-align: center;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 1rem 0rem;
}

.center h3 {
  color: var(--secondary);
  margin: 0.4rem;
}

.center p {
  text-align: justify;
}

.btn {
  border: 2px solid var(--border);
  box-shadow: 0 0 20px var(--glow);
  border-radius: 10px;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 600;
  margin: 1rem 2rem;
  color: var(--text);
  background-color: var(--accent);
  animation: road 2s ease infinite;
}

.list, .list a {
  text-decoration: none;
  list-style: none;
  padding: 8px 10px;
  color: var(--muted);
  font-weight: 500;
}

.project {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project h4, .project a{
  color: var(--accent);
  text-decoration: none;
  text-align: center;
}

.project p {
  color: var(--text);
  text-align: center;
}

.footer {
	margin-top: 50px;
	padding: 20px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	color: var(--muted);
	font-size: 14px;
	font-family: Inter;
}

.footer-links {
	margin: 10px 0;
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	opacity: 0.8;
	animation: ShowDown 1.2s ease forwards;
}

.autor {
	opacity: 0.6;
	font-size: 12px;
}


/* =========================
   DESKTOP
========================= */
@media (min-width: 768px) {
  
  header {
    margin: 4rem 8rem;
  }

	main {
		max-width: 900px;
		margin: 2rem auto;
	}
	
	nav ul {
		flex-direction: row;
		min-width: 900px;
		gap: 25px;
		justify-content: space-between;
		margin: 2rem 1rem;
	}

	
	.container {
	  display: flex;
	  align-items: center;
	  font-size: 24px;
	  gap: 10px;
	}
	
	#cargo {
	  font-size: 42px;
	}

	p {
		font-size: 18px;
	}
}

/* =========================
   ANIMAÇÕES
========================= */

@keyframes showDown {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes showUp {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes showRight {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	50% {
	  opacity: 0.7;
	  transform: translateX(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes glowUp {
  0% {
    box-shadow: 0 0 20px var(--primary-glow);
  }
  
  50% {
    box-shadow: 0 0 35px var(--primary-glow);
  }
  
  100% {
    box-shadow: 0 0 20px var(--primary-glow);
  }
}

@keyframes glowUp2 {
  0% {
    box-shadow: 0 0 20px var(--glow);
  }
  
  50% {
    box-shadow: 0 0 10px var(--primary-glow);
  }
  
  100% {
    box-shadow: 0 0 20px var(--glow);
  }
}

@keyframes road {
  0% {
    border-color: var(--border);
    border-top: 2px solid white;
  }
  
  25% {
    border-color: var(--border);
    border-right: 2px solid white;
  }
  
  50% {
    border-color: var(--border);
    border-bottom: 2px solid white;
  }
  
  75% {
    border-color: var(--border);
    border-left: 2px solid white;
  }
  
  100% {
    border-color: var(--border);
    border-top: 2px solid white;
  }
}